# Input/Output folders if running Python script
Input/
Output/

# PyInstaller leftovers if building executable
build/
dist/

# Virtual environment stuff
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/
