# ffmpeg folder
ffmpeg/*

# Input/Output folders if running Python script
Input/*
Output/*

# PyInstaller leftovers if building executable
build/*
dist/*
Compress.spec

# icon file
icon.ico

# environment stuff
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/
